.DS_Store
.thumbs.db
node_modules

# Папки, связанные с ядром Quasar
.quasar
/dist

# Папки и файлы связанные с Cordova
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# Папки и файлы, связанные с BEX
/src-bex/www
/src-bex/js/core

# Файлы журналов
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Папки и файлы Редактора
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
