// Переменные Quasar SCSS (& Sass)
// --------------------------------------------------
// Чтобы настроить внешний вид этого приложения, вы можете переопределить
// переменные Sass/SCSS, найденные в исходных файлах Sass/SCSS компании Quasar.
// Проверьте документацию для получения полного списка переменных Квазара
// Ваши собственные переменные (которые объявлены здесь) и собственные переменные Квазара
// они будут доступны из коробки в ваших файлах .vue/.scss/.sass
// Настоятельно рекомендуется изменить цвета по умолчанию
// чтобы соответствовать брендингу вашего приложения.
// Совет: Используйте "Конструктор тем" на веб-сайте документации Quasar.
$primary: #1976D2;
$secondary: #26A69A;
$accent: #9C27B0;
$dark: #1D1D1D;
$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;